Exam.AlumniManagement/ExamWeb/Connected Services/JobHistoryService/JobHistoryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExamWCF.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExamWCF.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50219/Services/JobHistoryService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Web.Mvc" />
  <xs:complexType name="ArrayOfJobHistoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobHistoryDTO" nillable="true" type="tns:JobHistoryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobHistoryDTO" nillable="true" type="tns:ArrayOfJobHistoryDTO" />
  <xs:complexType name="JobHistoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlumniID" nillable="true" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Web.Mvc" minOccurs="0" name="Alumnis" nillable="true" type="q1:ArrayOfSelectListItem" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="JobHistoryID" type="xs:int" />
      <xs:element minOccurs="0" name="JobTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobHistoryDTO" nillable="true" type="tns:JobHistoryDTO" />
</xs:schema>