Exam.AlumniManagement/ExamWeb/Connected Services/FacultyService/FacultyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="FacultyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50219/Services/FacultyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50219/Services/FacultyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50219/Services/FacultyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExamWCF.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFacultyService_GetFaculties_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFaculties" />
  </wsdl:message>
  <wsdl:message name="IFacultyService_GetFaculties_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFacultiesResponse" />
  </wsdl:message>
  <wsdl:message name="IFacultyService_GetFacultyByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFacultyByID" />
  </wsdl:message>
  <wsdl:message name="IFacultyService_GetFacultyByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFacultyByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IFacultyService_InsertFaculty_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertFaculty" />
  </wsdl:message>
  <wsdl:message name="IFacultyService_InsertFaculty_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertFacultyResponse" />
  </wsdl:message>
  <wsdl:message name="IFacultyService_UpdateFaculty_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFaculty" />
  </wsdl:message>
  <wsdl:message name="IFacultyService_UpdateFaculty_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFacultyResponse" />
  </wsdl:message>
  <wsdl:message name="IFacultyService_DeleteFaculty_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFaculty" />
  </wsdl:message>
  <wsdl:message name="IFacultyService_DeleteFaculty_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFacultyResponse" />
  </wsdl:message>
  <wsdl:portType name="IFacultyService">
    <wsdl:operation name="GetFaculties">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacultyService/GetFaculties" message="tns:IFacultyService_GetFaculties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacultyService/GetFacultiesResponse" message="tns:IFacultyService_GetFaculties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFacultyByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacultyService/GetFacultyByID" message="tns:IFacultyService_GetFacultyByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacultyService/GetFacultyByIDResponse" message="tns:IFacultyService_GetFacultyByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertFaculty">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacultyService/InsertFaculty" message="tns:IFacultyService_InsertFaculty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacultyService/InsertFacultyResponse" message="tns:IFacultyService_InsertFaculty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFaculty">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacultyService/UpdateFaculty" message="tns:IFacultyService_UpdateFaculty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacultyService/UpdateFacultyResponse" message="tns:IFacultyService_UpdateFaculty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFaculty">
      <wsdl:input wsaw:Action="http://tempuri.org/IFacultyService/DeleteFaculty" message="tns:IFacultyService_DeleteFaculty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFacultyService/DeleteFacultyResponse" message="tns:IFacultyService_DeleteFaculty_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFacultyService" type="tns:IFacultyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFaculties">
      <soap:operation soapAction="http://tempuri.org/IFacultyService/GetFaculties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacultyByID">
      <soap:operation soapAction="http://tempuri.org/IFacultyService/GetFacultyByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertFaculty">
      <soap:operation soapAction="http://tempuri.org/IFacultyService/InsertFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFaculty">
      <soap:operation soapAction="http://tempuri.org/IFacultyService/UpdateFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFaculty">
      <soap:operation soapAction="http://tempuri.org/IFacultyService/DeleteFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FacultyService">
    <wsdl:port name="BasicHttpBinding_IFacultyService" binding="tns:BasicHttpBinding_IFacultyService">
      <soap:address location="http://localhost:50219/Services/FacultyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>