Exam.AlumniManagement/ExamWeb/Connected Services/MajorService/MajorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExamWCF.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExamWCF.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50219/Services/MajorService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Web.Mvc" />
  <xs:complexType name="ArrayOfMajorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MajorDTO" nillable="true" type="tns:MajorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMajorDTO" nillable="true" type="tns:ArrayOfMajorDTO" />
  <xs:complexType name="MajorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Web.Mvc" minOccurs="0" name="Faculties" nillable="true" type="q1:ArrayOfSelectListItem" />
      <xs:element minOccurs="0" name="FacultyID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FacultyNames" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MajorID" type="xs:int" />
      <xs:element minOccurs="0" name="MajorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MajorDTO" nillable="true" type="tns:MajorDTO" />
</xs:schema>