Exam.AlumniManagement/ExamWeb/Connected Services/PhotoAlbumService/PhotoAlbumService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExamWCF.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExamWCF.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPhotoAlbumDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhotoAlbumDTO" nillable="true" type="tns:PhotoAlbumDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhotoAlbumDTO" nillable="true" type="tns:ArrayOfPhotoAlbumDTO" />
  <xs:complexType name="PhotoAlbumDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlbumID" type="xs:int" />
      <xs:element minOccurs="0" name="AlbumName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhotoAlbumDTO" nillable="true" type="tns:PhotoAlbumDTO" />
</xs:schema>