Exam.AlumniManagement/ExamWeb/Connected Services/JobAttachmentService/JobAttachmentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExamWCF.DTOs" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExamWCF.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50219/Services/JobAttachmentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:50219/Services/JobAttachmentService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfJobAttachmentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobAttachmentDTO" nillable="true" type="tns:JobAttachmentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobAttachmentDTO" nillable="true" type="tns:ArrayOfJobAttachmentDTO" />
  <xs:complexType name="JobAttachmentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlumniID" type="xs:int" />
      <xs:element minOccurs="0" name="AlumniName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttachmentID" type="xs:int" />
      <xs:element minOccurs="0" name="AttachmentTypeDisplay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttachmentTypeID" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobID" type="ser:guid" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SelectedAttachmentTypes" nillable="true" type="q1:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobAttachmentDTO" nillable="true" type="tns:JobAttachmentDTO" />
</xs:schema>