Exam.AlumniManagement/ExamWeb/Connected Services/AlumniService/AlumniService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50219/Services/AlumniService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExamWCF.DTOs" />
  <xs:element name="GetAlumnis">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlumnisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExamWCF.DTOs" minOccurs="0" name="GetAlumnisResult" nillable="true" type="q1:ArrayOfAlumniDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictsByStateID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stateID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictsByStateIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ExamWCF.DTOs" minOccurs="0" name="GetDistrictsByStateIDResult" nillable="true" type="q2:ArrayOfDistrictDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ExamWCF.DTOs" minOccurs="0" name="GetStatesResult" nillable="true" type="q3:ArrayOfStateDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistricts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ExamWCF.DTOs" minOccurs="0" name="GetDistrictsResult" nillable="true" type="q4:ArrayOfDistrictDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHobbys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHobbysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ExamWCF.DTOs" minOccurs="0" name="GetHobbysResult" nillable="true" type="q5:ArrayOfHobbyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHobbyIDByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hobbyName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHobbyIDByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHobbyIDByNameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlumniByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alumniId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlumniByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ExamWCF.DTOs" minOccurs="0" name="GetAlumniByIDResult" nillable="true" type="q6:AlumniDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAlumni">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ExamWCF.DTOs" minOccurs="0" name="alumni" nillable="true" type="q7:AlumniDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAlumniResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAlumni">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ExamWCF.DTOs" minOccurs="0" name="alumni" nillable="true" type="q8:AlumniDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAlumniResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAlumni">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alumniId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAlumniResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateIDByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stateName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateIDByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStateIDByNameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictIDByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="districtName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictIDByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDistrictIDByNameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromExcel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ExamWCF.DTOs" minOccurs="0" name="alumni" nillable="true" type="q9:AlumniDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportFromExcelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertMultipleAlumni">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ExamWCF.DTOs" minOccurs="0" name="alumnis" nillable="true" type="q10:ArrayOfAlumniDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertMultipleAlumniResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertAlumni">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ExamWCF.DTOs" minOccurs="0" name="alumni" nillable="true" type="q11:AlumniDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpsertAlumniResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>